:root {
  color-scheme: light dark;
  font-family: Inter, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Yu Gothic", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 20rem;
  min-height: 100%;
}

body {
  margin: 0;
}

button,
textarea {
  color: inherit;
  font: inherit;
}

button {
  border: 0;
}
